.game {
    position: relative;
}
.board {
    display: grid;
    grid-template-columns: repeat(3,var(--size));
    grid-template-rows: repeat(3,var(--size));
    border-radius: 10px;
    /* position: relative; */
    overflow: hidden;
    border: 10px solid #005B41;
    /* display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap; */
   
} 