.number {
  /* position: absolute; */
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tile);
  font-size: 50px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}
.number.correct {
  background: var(--correct);
}

.inner-number{
  height: min-content;
}

.number.disabled {
  pointer-events: none;
  background-color: transparent;
}
